@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    width: 118px;
    height: 62px;
    padding-top: 20;
}

.mt-5 {
    margin-top: 50px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-2 {
    margin-top: 20px;
}


.title {
    color: #151515;
    font-family: 'Epilogue', sans-serif;
    font-size: 80px;
    font-weight: 600;
    /* line-height: 90px; */
    letter-spacing: 0em;
}

.row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    padding-left: 130px;
    padding-right: 130px;
}


.col {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-user {
    width: 305px;
    height: 307px;
    border-radius: 5px;
}

.description {
    width: 557px;
    height: 216px;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0em;
    text-align: justify;
}

#button-download {
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background: #FF6464;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#button-download:active {
    transform: scale(1.1);
}

@media screen and (max-width:1144px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}